@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes backgroundAnimation {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes mapAnimation {
    to {
        width: 111%;
        transform: rotate(10deg);
    }
}

@keyframes mapAnimationMobile {
    to {
        width: 90%;
        transform: rotate(10deg);
    }
}

@keyframes mapAllPathAnimation {
    to {
        fill: #fff;
    }
}

@keyframes hideSlideButton {
    100% {
        width: 0;
        height: 0;
    }
}


@keyframes showSlideButton {
    100% {
        width: 40px;
        height: 40px;
    }
}

@keyframes slideInFromRight {
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeSlider {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeOutLoader {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}