@import url('./fonts.css');
@import url('./colors.css');
@import url('./nprogress.css');
@import url('./animations.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background: var(--background-color);
    font-family: 'IRANYekan';
    direction: rtl;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #FEFEFE;
}