.home-container {
    width: 100%;
    margin: 20px 0;
    padding: 10px 100px;
}

.home-container .container {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.home-container .container .row {
    flex: 50%;
}

.home-container .container .banner-container {
    position: relative;
    width: 100%;
    height: 680px;
    flex: 30%;
    background: url(../../assets/image/Covido.png);
    background-size: cover;
    border-radius: 15px;
    box-shadow: 0 0 6px rgba(102, 187, 106, 0.1);
    color: #fff;
    cursor: pointer;
}

.home-container .container .banner-container:hover {
    box-shadow: 0 0 12px rgba(102, 187, 106, 0.2);
}

.home-container .container .banner-container .content {
    margin: 80px 50px;
}

.home-container .container .banner-container .content h2 {
    font-weight: 900;
    font-size: 28px;
}

.home-container .container .banner-container .content p {
    font-weight: 300;
    font-size: 17px;
    margin-top: 8px;
}

.home-container .container .banner-container span {
    position: absolute;
    bottom: 26px;
    right: 15px;
}

.home-container .container .banner-container span a {
    padding: 4px 20px;
    color: var(--primary-color);
    background: #fff;
    border-radius: 3px;
    font-size: 14px;
}

.home-container .container .cards-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    left: 0;
    padding: 10px;
    flex-wrap: nowrap;
}

.home-container .container .cards-container .card {
    width: 100%;
    height: 33.333333333333333333333333333333%;
    background: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 40px;
    cursor: pointer;
    transition: .2s;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 100%;
}

.home-container .container .cards-container .card:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.home-container .container .cards-container .card div {
    text-align: center;
}

.home-container .container .cards-container .card div img {
    width: 90px;
}

.home-container .container .cards-container .card div h3 a {
    margin-top: 8px;
    color: #5E5E5E;
    font-weight: 400;
    font-size: 17px;
}

.home-container .container .cards-container .cards {
    width: 100%;
    height: 33.333333333333333333333333333333%;
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

.home-container .container .cards-container .cards .card {
    height: 100%;
}

@media only screen and (max-width: 1000px) {

    .home-container .container .banner-container {
        position: absolute;
        top: 0;
        right: 0;
        width: 100vw;
        z-index: 444;
        border-radius: 0;
        height: 350px;
        display: flex;
        justify-content: center;
    }

    .home-container .container .banner-container .content h2 {
        font-weight: 900;
        font-size: 20px;
    }

    .home-container .container .banner-container .content p {
        font-weight: 300;
        font-size: 14px;
        margin-top: 8px;
    }

    .home-container .container .banner-container .content {
        margin: 140px 50px;
    }

    .home-container .container .banner-container span {
        position: absolute;
        bottom: 90px;
        right: 50%;
        transform: translate(50%, -50%);
    }

    .home-container .container .banner-container span a {
        font-size: 12px;
    }

    .home-container .container .cards-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        z-index: 555;
        width: 100%;
        margin-top: 150px;
    }

    .home-container .container .cards-container {
        flex: 1;
        width: 100%;
        height: calc(100% / 3);
    }

    .home-container {
        padding: 10px 0;
    }

    .home-container .container .cards-container .card div h3 {
        font-size: 16px;
    }


}