.post-container {
    width: 100%;
    margin: 20px 0;
    padding: 10px 100px;
}

.post-container .container .title-bar {
    width: 100%;
}

.post-container .container .title-bar span {
    float: left;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-container .container .title-bar span::after {
    font-family: 'Covido';
    content: '\e903';
    margin-right: 4px;
    font-size: 18px;
    color: var(--primary-color);
}

.post-container .container .title-bar span a {
    color: var(--primary-color);
}

.post-container .container .title-bar h2 {
    float: right;
    font-size: 17px;
}


.info-container {
    display: flex;
    justify-content: center;
    padding: 15px 180px;
    width: 100%;
}


.info-container .container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.info-container .container .cover {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
}

.cover figure {
    width: 100%;
}

.cover figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.cover figure figcaption {
    position: relative;
    width: 100%;
    bottom: 4rem;
    padding: 0 2rem;}

.cover figure figcaption ul {
    list-style-type: none;
}

.cover figure figcaption ul > li {
    color: #fff;
    display: inline;
    margin: 0px 4px;
    padding: 3px 15px;
    font-size: 14px;
    font-weight: 350;
    border-radius: 4px;
    background: var(--primary-color);
}

.info-container .container > .content {
    margin: 20px 3px;
}

.content > h1 {
    text-align: center;
    font-size: 25px;
}

.post-content {
    width: 100%;
    padding: 0px 180px;
}

.post-content .container {
    font-weight: 300;
    text-align: justify;
    line-height: 2.4;
}


.post-content .container p {
    margin: 18px 0px;
}

.post-content .container p:first-child {
    margin: 0px;
}

.post-content .container img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 15px;
    margin: 20px auto;
}

.post-container .container .footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 35px 0px;
}

.footer .author-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    background: #e7ffe8;
    margin: 0px 180px;
    padding: 15px;
    border-radius: 6px;
}

.footer .author-container .author {
    display: flex;
    justify-content: right;
    align-items: center;
}

.footer .author-container > p {
    font-size: 15px;
    font-weight: 300;
}

.author img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.author ul {
    margin: 0px 15px;
    list-style-type: none;
}

.author ul li {
    padding: 3px;
}

.author ul li:nth-child(1) {
    font-weight: normal;
}

.author ul li:nth-child(2) {
    font-weight: 300;
    font-size: 13px;
}

.footer .author-container .link-box {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 10px;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    transition: .3s linear;
}

.footer .author-container .link-box:hover {
    box-shadow: inset 0 0 15px rgba(102, 187, 106, .2)
}

.footer .author-container .link-box i {
    color: var(--primary-color);
    font-size: 20px;
}

.footer .author-container .link-box code {
    margin: 0px 8px;
    font-size: 15px;
}

@media only screen and (max-width: 1000px) {

    .post-container {
        padding: 10px 20px;
    }

    .post-container .container .top-article {
        padding: 15px 0px;
    }

    .top-article .container, .top-article .container .content {
        height: 250px;
    }

    .top-article .container .content {
        padding: 12px;
        top: -103%;
    }

    .top-article .container .content h1, .top-article .container .content h1 a {
        font-size: 25px;
    }

    .post-container .container .articles {
        padding: 0;
        flex-flow: column wrap;
    }

    .articles .article {
        width: 100%;
    }

    .info-container {
        padding: 20px 0px;
    }

    .post-content {
        padding: 0;
    }

    .footer .author-container {
        margin: 0;
    }

    .post-container {
        padding: 10px 30px;
    }

    .post-container .container .top-article {
        padding: 15px 0px;
    }

    .top-article .container, .top-article .container .content {
        height: 250px;
    }

    .info-container .container .content h1 {
        font-size: 22px;
    }

    .post-content .container {
        font-size: 16px;
    }

    .footer .author-container {
        font-size: 12px;
        flex-direction: column;
    }

    .author img {
        width: 30px;
        height: 30px;
    }

    .footer .author-container .link-box {
        margin-top: 15px;
    }

    .footer .author-container .link-box code {
        font-size: 13px;
    }

    .footer .author-container .link-box i {
        font-size: 15px;
    }

}
